<h1>Serviços</h1>

<div class="all-lists">

  <ol *ngFor="let service of allServices">
    <li class="service">
      <a routerLink="./{{service.id}}">
        <img src="{{service.pet_image}}" alt="Imagem">
      </a>

      <!-- <div class="services">
        <h3>
          Serviços:
        </h3>
        <div class="services-iteration" *ngFor="let serv of service.services; let last = last">
          <span class="others">
            {{serv}}
          </span>
          <span class="comma" *ngIf="!last">,</span>
        </div>
        <span class="dot">.</span>
      </div> -->

      <div class="infos">
        <div class="services">
          <h3>
            Serviços:
            <span>{{ service.services[0] }}</span>
            <span class="others" *ngIf="service.services.length === 1">(+1 outro)</span>
            <span class="others" *ngIf="service.services.length > 1">(+{{ service.services.length - 1 }} outros)</span>
          </h3>
        </div>

        <p class="service-customer">Cliente: {{service.tutor_name}}</p>
        <p class="service-animal">Nome do Pet: {{service.pet_name}}</p>
        <p class="service-animal-name">Valor Total: {{service.service_cost}}</p>
        <p class="service-date">Criado em: {{service.created_at}}</p>
        <div class="service-status">
          <span *ngIf="service.ind_finalizado === false">
            <div class="status-false"></div>
          </span>
          <span *ngIf="service.ind_finalizado === true">
            <div class="status-true"></div>
          </span>
        </div>
      </div>
    </li>
  </ol>
</div>