h1 {
  display: flex;
  justify-content: center;

  font-size: 28px;
  font-weight: 700;
  color: #FFF;

  margin: 25px 0 40px 0;
}

h3,
p {
  margin: 0;
}

.all-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;

  max-width: 80%;
}

ol {
  list-style: none;
}

.service {
  background-color: #FFF;
  padding: 8px;
  border-radius: 4px;
}

.service img {
  width: 280px;
  height: 264px;
  object-fit: cover;

  border-radius: 4px 4px 0 0;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.services h3 {
  font-size: 18px;
  font-weight: 500;
}

.service-status span {
  width: 100%;

  display: flex;
  justify-content: end;
}

.status-false,
.status-true {
  width: 25px;
  height: 25px;

  border: 0.1px solid #000;
  border-radius: 100%;
}

.status-false {
  background-color: red;
}

.status-true {
  background-color: rgb(9, 255, 0);
}