h1 {
  display: flex;
  justify-content: center;

  font-size: 28rem;

  margin: 25rem 0;
}

.all-lists {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.list-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-width: 800rem;
}

.service-status-title {
  font-size: 22rem;
}

ol {
  list-style: none;

  margin: 20rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20rem;
}

.service {
  font-size: 14rem;
}

.square {
  background-color: white;
  border: 1px solid black;
  padding: 5px 5px 10px 5px;
}

.square img {
  width: 390px;
  height: 310px;
  object-fit: cover;
}

.all {
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin: 25rem 0;
}

p {
  font-size: 16rem;
  padding: 2.5px;
}

.line2 {
  display: flex;
  justify-content: space-between;
}

.status {
  font-size: 20rem;
  color: gray;
  margin-right: 5px;
  border: 2px solid gray;
}