.geral{
  margin-top: 150px;
  margin-left: 15px;
}


.dados-cap {
  max-width: 500px;
  max-height: 500px;
  flex-wrap: wrap;
  float: right;
  font-size: 15rem;  
  
}

.dados{   
  margin: 20px;
  display: flex;  
  text-align: left;
}

p{
  margin: 10px 20px;
  width: 300px;
}

h1{
  margin: 10px 20px;
  width: 500px;
}


.button-1, .button-2 {
  border: none; /* Sem borda */
  color: white; /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno (vertical horizontal) */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem decoração de texto */
  display: inline-block; /* Exibir como um bloco */
  font-size: 16px; /* Tamanho da fonte */
  margin: 43px 25px; /* Espaçamento externo (vertical horizontal) */
  cursor: pointer; /* Cursor de ponteiro ao passar por cima */
  border-radius: 100px;
}
  
.button-1{
  background-color: #09F23C; /* Cor de fundo */
}
  /* Estilo do botão quando passa o mouse por cima */
.button-1:hover {
  background-color: #45a049;
}
  
  /* Estilo do botão quando pressionado */
.button-1:active {
  background-color: #3e8e41;
}

.button-2{
  background-color: #f20909; /* Cor de fundo */
}
    /* Estilo do botão quando passa o mouse por cima */
.button-2:hover {
  background-color: #a04545;
}
      
   /* Estilo do botão quando pressionado */
.button-2:active {
  background-color: #8e3e3e;
}

.imagem-cap{
  float: left;
  background-color: white;
  border-radius: 10px;
}

.imagem{
  width: 500px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1; /* Define a proporção de 1:1 (quadrado) */
}