

<div class="geral">
    <div class="imagem-cap">
      <img class="imagem" src="../../assets/images/cacau-1.jpeg" alt="Imagem"> 
    </div>
  
    <div class="dados-cap">
      <h1>Cacau</h1>  
      <div class="dados">
        <p >raça:</p>
        <p >boxer</p>
      </div>
      <div class="dados">
        <p >Tutor:</p>
        <p >Pedro</p>
      </div>
      <div class="dados">
        <p >horario:</p>
        <p >16:30</p>
      </div>
      <div class="dados">
        <p >Serviço:</p>
        <p >Banho</p>
      </div>
      <div class="dados">
        <p >Valor:</p>
        <p >150,00</p>
      </div>
     
      
        <button class="button-1">Aceitar serviço</button>
        <button class="button-2" color = >Cancelar serviço</button>
       
     
    
    </div>
  </div>

  