

<div class="geral">
    <div class="imagem-cap">
      <img class="imagem" src="../../assets/images/cacau.jpeg" alt="Imagem"> 
    </div>
  
    <div class="dados-cap">
    <h1>test</h1>
      <div class="dados">
        <p >nome</p>
        <p >raça</p>
      </div>
      <div class="dados">
        <p >nome</p>
        <p >dados</p>
      </div>
      <div class="dados">
        <p >nome</p>
        <p >dados</p>
      </div>
      <div class="dados">
        <p >nome</p>
        <p >dados</p>
      </div>
     
      
        <button class="button-1">Aceitar serviço</button>
        <button class="button-2" color = >Cancelar serviço</button>
       
     
    
    </div>
  </div>

  