<div class="geral">
  <div class="dados-cap">
    <div>
      <h1><strong>Banho & tosa</strong></h1>
      <h2>O cuidado que seu pet merece</h2>
      <p>
        O cuidado que seu pet merece, com carinho e profissionalismo em cada
        toque do nosso serviço!
      </p>
    </div>
    <div class="imagem-cap">
      <img
        class="imagem"
        src="../../assets/images/cachorrobanho.jpeg"
        alt="Imagem"
      />
    </div>
  </div>

  <div class="dados-cap">
    <div class="imagem-cap">
      <img
        class="imagem"
        src="../../assets/images/cachorrovet.jpeg"
        alt="Imagem"
      />
    </div>

    <div>
      <h4 class="higiene">
        <strong> A higiene do pet é indicada por veterinários</strong>
      </h4>
      <p>
        Manter o animal limpo ajuda a prevenir infecções, doenças de pele e
        parasitas, como pulgas e carrapatos. A limpeza regular, como banhos e
        escovação, remove sujeira, detritos e bactérias que podem causar
        problemas de saúde.
      </p>
    </div>
  </div>

  <h1 class="titulo-2">Conheça as etapas</h1>

  <div class="etapas">
    <div class="icon">
      <p class="titulo-card"><strong>Banho</strong></p>
      <img
        class="icon-image-1"
        src="../../assets/images/icon-banho.png"
        alt="Imagem"
      />
    </div>
    <div class="icon">
      <p class="titulo-card"><strong> Secagem </strong></p>
      <img
        class="icon-image-1"
        src="../../assets/images/icon-secagem-gato.png"
        alt="Imagem"
      />
    </div>
    <div class="icon">
      <p class="titulo-card"><strong>Escova de pelagem</strong></p>
      <img
        class="icon-image-1"
        src="../../assets/images/escova.png"
        alt="Imagem"
      />
    </div>
    <div class="icon">
      <p class="titulo-card"><strong>Limpeza de ouvidos</strong></p>
      <img
        class="icon-image-1"
        src="../../assets/images/ouvido.png"
        alt="Imagem"
      />
    </div>
    <div class="icon">
      <p class="titulo-card"><strong>Corte de unhas</strong></p>
      <img
        class="icon-image-1"
        src="../../assets/images/corte.png"
        alt="Imagem"
      />
    </div>
  </div>

  <div class="cuidados">
    <div class="cuidados-2">
      <h1 class="titulo-3">Que tal um cuidado adicional?</h1>
      <p>
        Lembrando que cada pet é único, e é sempre importante consultar um
        médico veterinário para obter orientações personalizadas e garantir a
        saúde e o bem-estar do seu animal de estimação.
      </p>
    </div>
    <div class="cuidados-2">
      <h3>Higiene diária</h3>
      <p>
        Cada animal possui necessidades diferentes de exercício, portanto, é
        importante identificar qual é a quantidade ideal para o seu pet.
        Passeios diários, brincadeiras e atividades que estimulem a movimentação
        ajudam a manter seu animal saudável e feliz, além de prevenir problemas
        de comportamento.
      </p>
    </div>

    <div class="cuidados-2">
      <h3>Exercício físico</h3>
      <p>
        Além dos banhos regulares, é importante realizar a higiene diária do seu
        animal de estimação. Isso inclui escovar os pelos para remover nós e
        sujeiras, limpar as orelhas com produtos específicos para pets e escovar
        os dentes regularmente com escova e pasta de dente próprias para
        animais.
      </p>
    </div>

    <div class="cuidados-2">
      <h3>Alimentação adequada</h3>
      <p>
        Oferecer uma alimentação balanceada e de qualidade é essencial para a
        saúde do seu animal de estimação. Consulte um médico veterinário para
        obter orientações sobre a dieta ideal para o seu pet, levando em
        consideração a idade, raça e possíveis condições de saúde.
      </p>
    </div>

    <div class="cuidados-2">
      <h3>Vacinação e vermifugação</h3>
      <p>
        Mantenha as vacinas do seu pet em dia, seguindo o calendário de
        imunização recomendado pelo veterinário. Além disso, a vermifugação
        regular é importante para prevenir infestações de parasitas internos.
      </p>
    </div>
  </div>

  <h2 class="titulo-2">
    <strong>Os melhores produtos para o dia a dia</strong>
  </h2>

  <div class="etapas">
    <div class="icon">
      <p><strong>Pelucias</strong></p>
      <img
        class="icon-image"
        src="../../assets/images/pilucia.png"
        alt="Imagem"
      />
      <p>
        Resistentes e coloridos, os bichinhos têm a função de impactar
        positivamente a saúde mental do cachorro.
      </p>
    </div>
    <div class="icon">
      <p><strong>Produtos para banho</strong></p>
      <img
        class="icon-image"
        src="../../assets/images/shampoo.png"
        alt="Imagem"
      />
      <p>
        Deixa o pelo sedoso e brilhante. Visa o cuidado de animais que tem a
        pele sensível. Mantém a saúde da pele (seca ou oleosa) Evita
        dermatopatias em cães e problemas de pele em gatos.
      </p>
    </div>
    <div class="icon">
      <p><strong>Rações</strong></p>
      <img
        class="icon-image"
        src="../../assets/images/racao.png"
        alt="Imagem"
      />
      <p>
        Essas rações são especiais, preparadas com cuidado para auxiliar na
        recuperação ou manutenção de gatos e cachorros doentes.
      </p>
    </div>
    <div class="icon">
      <p><strong>Creatina para cachorros</strong></p>
      <img
        class="icon-image"
        src="../../assets/images/creatina pra cachorro.webp"
        alt="Imagem"
      />
      <p>
        Aumenta a concentração de creatina-fosfato no músculo esquelético; -
        Melhora a capacidade de explosão nos exercícios de alta intensidade de
        curta duração.
      </p>
    </div>
    <div class="icon">
      <p><strong>Saches</strong></p>
      <img
        class="icon-image"
        src="../../assets/images/comidinha.png"
        alt="Imagem"
      />
      <p>
        Por causa da consistência macia, o cachorro acha mais saboroso; Assim
        como a ração seca, a ração em sachê tem todos os nutrientes essenciais,
        como aminoácidos (vindo das proteínas).
      </p>
    </div>
  </div>
</div>
