header {
  background-color: var(--bg-primary);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 80px 10px 40px;
}

h1 {
  margin: 0;
}

.logo,
nav {
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
}

nav {
  display: flex;
  gap: 60px;

  list-style: none;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: #FFF;
}

nav a:hover {
  color: var(--secondary);
}