<div class="geral">
    
 
 <div class="dados-cap">
  <div>
    <h1>Banho & tosa</h1>
    <h2>O cuidado que seu pet merece</h2>
    <p>Aqui seu pet toma banho e recebe massagem, toma.</p>
    
  </div>
 <div class="imagem-cap">
    <img class="imagem" src="../../assets/images/cachorroschiques.jpeg" alt="Imagem"> 
  </div>
 </div>
    
  <div class="dados-cap">
    <div class="imagem-cap">
      <img class="imagem" src="../../assets/images/freddeitado.jpeg" alt="Imagem"> 
    </div>

    <div>
      <h1>Banho & tosa</h1>
      <h2>O cuidado que seu pet merece</h2>
      <p>Aqui seu pet toma banho e recebe massagem, toma.</p>
    
    </div>
      
  </div>

  <h1 class="titulo-2">Conheça as etapas</h1>
  
  <div class="icon-imagem-tot">
    <div class="icon">
      <p >Banho</p>
      <img src="../../assets/images/icon-banho.png" alt="Imagem">   
    </div>
    <div class="icon">
      <p >Secagem</p>
      <img src="../../assets/images/icon-banho.png" alt="Imagem">   
    </div>
    <div class="icon">
      <p >Escova de pelagem</p>
      <img src="../../assets/images/icon-banho.png" alt="Imagem">   
    </div>
    <div class="icon">
      <p >Limpeza de ouvidos</p>
      <img src="../../assets/images/icon-banho.png" alt="Imagem">   
    </div>
    <div class="icon">
      <p >Corte de unhas</p>
      <img src="../../assets/images/icon-banho.png" alt="Imagem">   
    </div>
  </div>
    
  <h1 class="titulo-2">Que tal um cuidado adicional?</h1>

  

 
</div>