.icon-imagem-tot{
    display: flex;
    align-items: center;
}

.icon{
    text-align: center; 
    padding: 50px;
    justify-content: space-between;
    max-width: 300px;
    min-width: 300px;
}

.titulo-2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: #000000;
    margin-top: 150px;
    margin-bottom: 50px;
    width: 700px;
}

p{
    font-size: 18px;
    margin: 10px 20px;
}

h2{
    font-size: 30px;
    color: #000000;
    margin: 10px 20px;
    width: 500px;
}


h1{
    font-size: 60px;
    color: #6ED7EF;
    margin: 10px 20px;
    width: 500px;
}



.geral{
    margin-top: 100px;
}

.dados-cap{
    
    padding: 50px 5px 5px 5px;
    border-radius: 10px;
    display: flex;  
    justify-content: center; 
    text-align: left;
}

.imagem-cap{
    
    background-color: rgb(255, 255, 255);
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.imagem{
    width: 500px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px; 
}

