.etapas{
    display: flex;
    align-items: center;
}

.cuidados{
   margin-left: 100px;
}

.cuidados-2{
    max-width: 900px;;
    min-width: 900px;
    padding: 15px;
}

.icon{
    text-align: center; 
    padding: 50px;
    justify-content: space-between;
    max-width: 370px;
    min-width: 370px;
}

.icon-image{

    max-width: 300px;
    min-width: 300px;
}

.icon-image-1{
    max-width: 150px;
    min-width: 150px;
}
.titulo-2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: #000000;
    margin-top: 150px;
    margin-bottom: 50px;
    width: 700px;
}

.titulo-3{
    text-align: left;
    font-size: 40px;
    color: #000000;
    margin-top: 100px;
    width: 700px;
}
p{
    font-size: 18px;
    margin: 10px 20px;
}

h4{
    font-size: 40px;
    color: #000000;
    margin: 10px 20px;
    width: 500px;
}

h3{
    font-size: 25px;
    color: #000000;
    width: 500px;
}

h2{
    font-size: 30px;
    color: #000000;
    margin: 10px 20px;
    width: 500px;
}


h1{
    font-size: 60px;
    color: #6ED7EF;
    margin: 10px 20px;
    width: 500px;
}



.geral{
    margin-top: 100px;
}

.dados-cap{
    align-items: center;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    display: flex;  
    justify-content: center; 
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    
}

.imagem-cap{
    
    background-color: rgb(255, 255, 255);
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.imagem{
    width: 500px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px; 
}

