<div class="geral">
    
 
  <div class="dados-cap">
    <h1>Banho & tosa</h1>
      <div>
        <h2>O cuidado que seu pet merece</h2>
        <p>Aqui seu pet toma banho e recebe massagem, toma.</p>
      </div>
    </div>
  
    <div class="imagem-cap">
      <img class="imagem" src="../../assets/images/cachorroschiques.jpeg" alt="Imagem"> 
    </div>
  
    <div class="imagem-cap">
      <img class="imagem" src="../../assets/images/freddeitado.jpeg" alt="Imagem"> 
    </div>

  <div class="dados-cap">
    <h1>Banho & tosa</h1>
    <div>
      <h2>O cuidado que seu pet merece</h2>
      <p>Aqui seu pet toma banho e recebe massagem, toma.</p>
    </div>
  </div>

  <div class="icon">
    <h1 class="titulo-2">Conheça as etapas</h1>
  </div>
 
  <div class="icon">
    <p class="icon-text">banho</p>
    <p class="icon-text">banho</p>
    <p class="icon-text">banho</p>
    <p class="icon-text">banho</p>
    <p class="icon-text">banho</p>
  </div>
  
  <div class="icon">
    <img class="icon-imagem" src="../../assets/images/icon-banho.png" alt="Imagem"> 
    <img class="icon-imagem" src="../../assets/images/icon-secagem.png" alt="Imagem"> 
    <img class="icon-imagem" src="../../assets/images/icon-banho.png" alt="Imagem"> 
    <img class="icon-imagem" src="../../assets/images/icon-banho.png" alt="Imagem"> 
    <img class="icon-imagem" src="../../assets/images/icon-banho.png" alt="Imagem">   
  </div>
   

  

 
</div>